body {
    background-color:black;
    color: white;
}


.BarraNavegacion{
    background-color: rgb(0, 0, 0) ;
    width: 100vw;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    }


.BarraNavegacion ul{

    list-style: none;
    display: flex;
    margin:0;
    padding: 0;
    position: relative;
    gap: 30px;
}

.BarraNavegacion h1{
   margin:0;
   font-size: 24px;

}

/*voy a empezar a trabajar en la parte del contendeor e imagen*/

.Contenedor2 {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Contenedor2 h1{

    display: flex;
    flex-direction: column;    
    
}


.Contenedor2 img{
   
    width: 100vw;
    height: 100vh;
    position: relative;
   
  

}

.titulo1{
    display: flex;
    margin: 0;
    position: relative;
    bottom: 700px;;
    }

    .titulo2{
        display: flex;
        margin: 0;
        position: relative;
        bottom: 200px;;
        }