* {

margin:0;
padding: 0;
box-sizing: border-box;
}


body {
    background-color: #110f0f;
    color: white;
    overflow-x: hidden;
}


.BarraNavegacion{
    background-color: #110f0f ;
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    
    }


.BarraNavegacion ul{

    list-style: none;
    display: flex;
    margin:0;
    padding: 0;
    position: relative;
    gap: 30px;
    
}

.BarraNavegacion h1{
   margin:0;
   font-size: 24px;


}

.BarraNavegacion ul li a{

    color: white;
    font-size: 16px;
   

}

/*voy a empezar a trabajar en la parte del contendeor e imagen*/

.Contenedor2 {
    position: relative;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

.Contenedor2 img{
   
    width: 100%;
    height: 100%;
   object-fit: cover;
  

}

.texto{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;
    gap: 450px;
    display: flex;
    flex-direction: column;
}

.texto h1{
    margin: 0;
    font-size: 55px;
    font-weight: bold;
}

/* empezare a darle posicion al boton y color*/


.boton1{
  background-color: #c28f4d; 
  color: black;
  margin-top:20px ;
  padding: 12px 24px;
  border: none;
  display: block;
  margin: 20px auto;
}

/* empezare a colocar posicion al texto e imagen y boton*/

.contenedor3{
 position: relative;
 display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;


}


.contenedor3 img{
   width: 100%;
   height: 100%;
   object-fit: cover;
  
}

.texto2 h1  {
    position: absolute;
    display: flex;
    left: 65%;
    top: 150%;
    
}

.texto2 p{
    position: absolute;
    display: flex;
    left: 65%;
    top: 165%;
   
}

.boton2{
background-color: #c28f4d; 
  color: black;
  padding: 12px 24px;
  border: none;
  display: block;
  position: relative;
  display:flex ;
  left: 65%;
  
}