* {

margin:0;
padding: 0;
box-sizing: border-box;
border-radius: 10px;


}

body{
    background-color: black;
      overflow-x: hidden;
}

.container1{
    display: grid;
    border: 3px solid rgb(0, 0, 0);
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    justify-content: space-around;
    
}

.item1{
    grid-column: 1;
    grid-row: 1;
}

.item1 img{
    position: relative;
    left: -8%;
    width: 138%;
    height: 90%;
}

.item2{
    grid-column: 2;
    grid-row: 1;
}

.item2 img{
    position: relative;
    left: -36%;
    width: 120%;
   height: 90%;
 
}

.item3{
    grid-column: 3;
    grid-row: 1;
}

.item3 img{
    position: relative;
    left: -35%;
    width: 130%;
    height: 89%;
}

.item4{
    grid-column: 1;
    grid-row: 2/3;
}

.item4 img{
    position: relative;
    left: 10%;
    width: 100%;
    height:177%;

}

.item5 {
    grid-column: 2/3;
    grid-row: 2;
}

.item5 img{
    position: relative;
    left: 15%;
    width: 120%;
    height: 80%;
    
}

.item6 {
    grid-column: 3;
    grid-row: 2;
}

.item6 img{
    position: relative;
    width: 80%;
    left: 42%;
    height: 80%;
}

.item7{
    position: relative;
   grid-column: 2;
   grid-row: 3;
   bottom: ;
   
}
.item7 img{
    position: relative;
    width: 120%;
    bottom: 17%;
    height: 160%;
    left: 14%;
}

.item8{
    grid-column: 3;
    grid-row: 3 ;
}
.item8 img{
    position: relative;
    left: 42%;
    bottom: %;
    width: 58%;

}