* {

margin:0;
padding: 0;
box-sizing: border-box;
border-radius: 10px;

}

body{
    background-color: black;
      overflow-x: hidden;
}

.container1{
    display: grid;
    border: 3px solid white;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}