*{
margin: 0;
padding:0;
box-sizing:border-box;

}



body {
background-color: white;
font-family: Arial, Helvetica, sans-serif;

}

.side-bar{
height: 100%;
width: 13%;
display: flex;
align-items: center;
justify-content: flex-end;
gap: 10px;

background-color: black;
color: white;
r-index: 1000;
position: absolute;
top: 20px;
right: 20px;
}

.logo img {
height: 196%;


}

header{
display: flex;
justify-content: space-between;
align-items: center;
height: 196%;
width:44%;
padding: 20px 40px;
border-bottom: 1px solid #ccc;

}

.menu{
display: flex;
align-items:center;
gap: 20px;

}

.Tarjeta{
height: 497%;
width: 994%;

}
