* {

margin:0;
padding: 0;
box-sizing: border-box;
}


body {
   
    background-color: #110f0f;
    overflow-x: hidden;
}

.container1 { 

display: grid; 
  grid-template-columns: "item1","item2","item3","item4"; 
  gap: 10px; 
  padding: 10px;

}

.item1 img{
    display: grid;
    border-radius: 10px;
    width: 30%;

}

.item2 img{

display: grid;
border-radius: 10px;
width: 30%;

}