* {

margin:0;
padding: 0;
box-sizing: border-box;
}


body {
   
    background-color: #110f0f;
    overflow-x: hidden;
}

.container1 { 

display: grid; 
  grid-template-columns: "item1" "item2","item3","item4"; 
  gap: 1%; 
  padding: 1%;
 

}

.item1 img{
    display: grid;
    position: relative;
    border-radius: 1%;
    width: 50%;
    
    

}

.item2 img{

display: grid;
position: relative;
border-radius: 1%;
width: 48%;
left: 52%;
bottom: 53%;
height: 103%;
}

.item3 img{

display: grid;
position: relative;
border-radius: 1%;
width: 50%;
right: -0,5rem;
bottom: 205%;

}

.item4 img{
    display: grid;
    position: relative;
    border-radius: 1%;
    width: 100%;
    bottom: 118%;
}