* {

margin:0;
padding: 0;
box-sizing: border-box;
}


body {
   
    background-color: #110f0f;
    overflow-x: hidden;
}

.container1 { 

display: grid; 
  grid-template-columns: "item1","item2","item3","item4"; 
  gap: 1%; 
  padding: 1%;
 

}

.item1 img{
    display: grid;
    position: relative;
    border-radius: 10%;
    width: 37%;
    
    

}

.item2 img{

display: grid;
position: relative;
border-radius: 10%;
width: 31%;
left: 38%;
bottom: 62%;
height: 120%;
}

.item3 img{

display: grid;
position: relative;
border-radius: 10%;
width: 36%;
right: -0,5rem;
bottom: 185%;

}